[Unit]
Description=Car judebox and gps tracking application
     
[Service]
ExecStart=/home/franck/carbox/start.sh
WorkingDirectory=/home/franck/carbox
Type=idle
User=franck

[Install]
WantedBy=multi-user.target
