[Unit]
Description=Car judebox and gps tracking application
     
[Service]
ExecStart=/home/franck/carbox/start.sh
StandardOutput=null
Type=simple
User=franck

[Install]
WantedBy=multi-user.target
Alias=carbox.service
