[Unit]
Description=RTC clock
Before=netctl-auto@wlan0.service

[Service]
ExecStart=/usr/lib/systemd/scripts/rtc
Type=oneshot

[Install]
WantedBy=multi-user.target
